@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

  $primary-color: #4D96A9;
  $secondary-color: #855FB1;
  $accent-primary-color: #8FE3F9;
  $accent-secondary-color: #D9B8FF;
  $white-color: #FAFAFA;
  $black-color: #28283D;
  $grey-color: #87879D;
  

:root{
    font-family: 'Red Hat Display', sans-serif;
    font-size:16px;
}